.ansible/
ansible.cfg
ansible_collections
.cache
.claude/settings.local.json
*.deb
.docker
drafts/*
.env
.env.yml
hosts
*.html
*.log
molecule/default/inventory/host_vars/*/connection.yml
.nox
*.retry
*.rpm
.scannerwork
.sonar
*suid.list
.tox
.vagrant
.venv
.yamllint
