---
- name: Update facts
  ansible.builtin.setup: ~
  tags:
    - fact

- name: Install Docker for Debian family
  tags:
    - apt
    - docker
  when: ansible_os_family == "Debian"
  block:
    - name: Import Docker gpg key
      become: true
      ansible.builtin.get_url:
        url: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
        dest: /etc/apt/trusted.gpg.d/docker.asc
        mode: "0644"
        force: true

    - name: Add apt Docker repository
      become: true
      ansible.builtin.template:
        src: docker.repo.j2
        dest: /etc/apt/sources.list.d/docker.list
        backup: true
        mode: "0644"
        owner: root
        group: root

    - name: Run apt update
      become: true
      ansible.builtin.apt:
        update_cache: true

- name: Install Docker for RedHat family
  when: ansible_os_family == "RedHat"
  tags:
    - dnf
    - docker
  block:
    - name: Stat docker-ce.repo file
      ansible.builtin.stat:
        path: "/etc/yum.repos.d/docker-ce.repo"
      register: docker_ce_repo

    - name: Add Docker yum repo
      become: true
      ansible.builtin.command:
        cmd: "dnf config-manager --add-repo=https://download.docker.com/linux/centos/docker-ce.repo"
      register: add_yum_repo
      changed_when: add_yum_repo.rc != 0
      failed_when: add_yum_repo.rc != 0
      when: not docker_ce_repo.stat.exists

- name: Install Docker
  become: true
  ansible.builtin.package:
    name: ['docker-ce', 'docker-ce-rootless-extras']
    state: present
  tags:
    - apt
    - dnf
    - docker
...
