---
- name: Update facts
  ansible.builtin.setup:

- name: Install Docker for Debian family
  become: true
  tags:
    - privileged
  when:
    - ansible_facts.os_family == "Debian"
    - install_dependencies
  block:
    - name: Import Docker gpg key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/{{ ansible_facts.distribution | lower }}/gpg
        dest: /etc/apt/trusted.gpg.d/docker.asc
        mode: "0644"
        force: true

    - name: Add apt Docker repository
      ansible.builtin.template:
        src: "{{ docker_repository_template }}"
        dest: /etc/apt/sources.list.d/docker.list
        backup: true
        mode: "0644"
        owner: root
        group: root

    - name: Gather package facts
      ansible.builtin.package_facts:
        manager: auto

    - name: Unattended upgrades for Docker
      ansible.builtin.lineinfile:
        path: /etc/apt/apt.conf.d/55unattended-upgrades-docker
        line: Unattended-Upgrade::Origins-Pattern { "o=Docker,a=${distro_codename}"; };
        state: present
        create: true
        owner: root
        group: root
        mode: "0644"
      when:
        - docker_unattended_upgrades | bool
        - "'unattended-upgrades' in ansible_facts.facts.packages"

    - name: Run apt update
      ansible.builtin.apt:
        update_cache: true

- name: Install Docker for RedHat family
  become: true
  tags:
    - privileged
  when:
    - ansible_facts.os_family == "RedHat"
    - install_dependencies
  block:
    - name: Stat docker-ce.repo file
      ansible.builtin.stat:
        path: /etc/yum.repos.d/docker-ce.repo
      register: docker_ce_repo

    - name: Add Docker yum repo
      ansible.builtin.command:
        cmd: dnf config-manager --add-repo=https://download.docker.com/linux/centos/docker-ce.repo
      register: add_yum_repo
      changed_when: add_yum_repo.rc != 0
      failed_when: add_yum_repo.rc != 0
      when: not docker_ce_repo.stat.exists

- name: Install Docker
  become: true
  tags:
    - privileged
  when:
    - install_dependencies
  block:
    - name: Install Docker packages
      ansible.builtin.package:
        name:
          - docker-ce
          - docker-ce-rootless-extras
        state: present

    - name: Add rootful Docker configuration file
      become: true
      ansible.builtin.template:
        src: "{{ docker_daemon_json_template }}"
        dest: /etc/docker/daemon.json
        backup: true
        mode: "0644"
        owner: root
        group: root
        validate: dockerd --validate --config-file %s

- name: Create user Docker .config directory
  become: true
  become_user: "{{ docker_user }}"
  ansible.builtin.file:
    path: "{{ docker_user_info.home }}/.config/docker"
    state: directory
    mode: "0700"

- name: Add Docker configuration file to user
  become: true
  become_user: "{{ docker_user }}"
  ansible.builtin.template:
    src: "{{ docker_daemon_json_template }}"
    dest: "{{ docker_user_info.home }}/.config/docker/daemon.json"
    backup: true
    mode: "0644"
