# {{ ansible_managed }}

server {
  listen 80 default_server;
  listen [::]:80 default_server;
  root /var/www/{{ ansible_hostname }};
  index index.html;
  try_files $uri /index.html;

  location / {
    limit_except GET HEAD POST { deny all; }
  }

  location = /404.html {
    internal;
  }
}
