<html>
<h1>nginx - a rootless Docker container</h1>
<pre>
Rootful Docker daemon: {{ docker_rootful }}

Image: {{ nginx_info.container.Config.Image }}

Binds: {{ nginx_info.container.HostConfig.Binds }}
CapAdd: {{ nginx_info.container.HostConfig.CapAdd }}
CapDrop: {{ nginx_info.container.HostConfig.CapDrop }}
</pre>
</html>
